.left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.productList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

    border: 2px solid rgba(0, 0, 0, 0.461);
    border-radius: 15px;

    padding: 16px;
    margin: auto;
    max-width: 50%;
    list-style: none;

}
.productItem{
    display: flex;
    flex-direction: row;          
    align-items: flex-start;
    justify-content: space-between;
 

    margin: 5px;
    padding: 1rem;
    border-bottom: 1px solid #ddd;    
}

.productTitle {
    font-weight: bold;
    margin: 0; 
}
.productTitle span{
    margin-left: 10px;
    color: gray;
    font-size:small;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.productDesc {
    margin:0px ;
    color: #6c90eb;
    font-size: small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.productPrice {
    margin: 5px 0px 0px;
    max-width: fit-content;

    font-weight: bold;
    color: #000;

    border: 2px dashed #d5d340;
    background-color: #fffb0038;
    border-radius: 10px;

    padding: 5px;
}

.productItem:last-child {
  border-bottom: none; 
}

.right{
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;
    margin-top: 5px;
}