.reset-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 2rem auto;
  border: 1px solid #222;
  border-radius: 6px;
  padding: 1rem;
  background-color: #fff9f4;
}

.reset-div h2 {
  background-color: #444;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 1rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.reset-div form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.reset-div label {
  text-align: left;
  font-weight: 500;
}

.reset-div input {
  padding: 6px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.reset-div button {
  padding: 8px;
  background-color: rgb(63, 166, 63);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-div button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

.reset-div p {
  margin-top: 10px;
  color: #333;
  font-weight: 500;
}
