.signup-form{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;;
    margin: auto;
    border-radius: 6px;
    background-color: #fff9f4;
    
}

.inputs-div{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin:10px;
    
}
label{
    display: block;
    text-align: start;
    margin-bottom:auto;
}
.inputs-div div{
    margin-bottom: 10px;
}
.signup-form h3{
    width: 100%;
    padding:10px 0 10px 0;
    margin: 0;
    background-color: rgb(149, 46, 149);
    color: white;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

button{
    margin: auto;
    background-color:rgb(63, 166, 63);
    color: white;
}